body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #cddde3;
    color: rgb(60, 57, 57);
    text-align: center;
    padding: 1em 0;
}

#logo {
    width: 50px; /* Adjust the width as needed */
    height: auto;
}
nav {
    background-color: #7eb2c8;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: rgb(60, 57, 57);
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #cddde3;
}



section {
    padding: 20px;
}

table {
    /* width: 100%; */
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #abcddc;
    color: rgb(60, 57, 57);
}

td {
    background-color: #f9f9f9;
    width: auto;
}

footer {
    background-color: #cddde3;
    color: rgb(60, 57, 57);
    text-align: center;
    padding: 1em 0;
}
